body { font-family: 'Segoe UI', sans-serif; margin: 0; background: #f4f7f9; }
nav { background: #002147; color: white; padding: 1rem; text-align: center; }
nav span { color: #ff8c00; font-weight: bold; }
.container { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; padding: 20px; }
.booking-form, .live-feed { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
input { display: block; width: 100%; margin: 10px 0; padding: 10px; border: 1px solid #ddd; border-radius: 4px; }
button { width: 100%; padding: 12px; background: #002147; color: white; border: none; cursor: pointer; font-weight: bold; }
button:hover { background: #003366; }
.truck-card { padding: 10px; border-bottom: 1px solid #eee; }

.img-logo{
    float: left;
    width: 90px;
    height: auto;
    margin-right: 10px;
    
}

.action-group {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; /* Helps on smaller screens */
}

/* Red Delete Button Style */
button.btn-delete {
    background-color: #dc3545;
}
button.btn-delete:hover {
    background-color: #a71d2a;
}